@{
    ViewData["Title"] = "Home Page";
}
@model User

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Fill out the survey below!</p>

    <form class="Form" asp-action="Create" asp-controller="Home" method="post">    
        <div class="Flex">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="Input">
        </div>
            <span class="Validation" asp-validation-for="Name"></span>
        <br>
        <div class="Flex">
            <label asp-for="Email"></label>    
            <input asp-for="Email"class="Input">
        </div>
            <span class="Validation" asp-validation-for="Email"></span>
        <br>
        <div class="Flex">
            <label asp-for="Password"></label>    
            <input asp-for="Password" class="Input">
        </div>
            <span class="Validation" asp-validation-for="Password"></span>
        <br>

        <div class="Flex">
            <label asp-for="Birthday"></label>    
            <input asp-for="Birthday" type="date" class="Input">
        </div>
            <span class="Validation" asp-validation-for="Birthday"></span>
        <br>
        <input class="Button" type="submit" value="Submit"/>
    </form>

</div>

