@model Product


        <h1>Add A New Product</h1>
        <form class="Form" asp-action="CreateProduct" asp-controller="Home" method="post">    
            <div class="mb-3">        
                <div class="Flex2">
                    <label asp-for="Name"></label>        
                    <input asp-for="Name" class="Input">        
                </div>
                <span asp-validation-for="Name" class="Validation"></span>
                <div class="Flex2">
                    <label asp-for="Description"></label>        
                    <input asp-for="Description" class="Input">        
                </div>
                <span asp-validation-for="Description" class="Validation"></span>
                <div class="Flex2">
                    <label asp-for="Price"></label>        
                    <input asp-for="Price" class="Input">        
                </div>
                <span asp-validation-for="Price" class="Validation"></span>
            </div> 
            <div class="Center">
                <input class="Button" type="submit" value="Log In">
            </div>
        </form>