@{
    ViewData["Title"] = "Test Page";
}

@model int


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You've created a test page!.</p>
    <h3>My Number is: @Model</h3>
</div>
