<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProductsAndCategories</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProductsAndCategories.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
         <header class="Header">
        <nav class="navbar navbar-expand-sm border-bottom mb-3 d-flex justify-content-center align-items-center">
                    <ul class="navbar-nav d-flex align-items-center">
                        <li class="nav-item fs-2">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Products</a>
                        </li>
                        <li class="nav-link text-light fs-2">|</li>
                        <li class="nav-item fs-2">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Categories">Categories</a>
                        </li>
                    </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="Footer border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Products and Categories
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
