@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Wedding Planner!</h1>
    <a class="nav-link text-primary" asp-area="" asp-controller="Home" asp-action="Register">Click Here To Register</a>
</div>
