<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hello!</title>
            <!-- In this context '~' refers to the wwwroot folder  -->      
    <link rel="stylesheet" href="~/css/style.css"/> 
    </head>
    <body>


        <h1>Welcome!</h1>

        <h4>Click link to go somewhere!</h4>
        <a href="/redirect/Chris">Take Me Somwhere!</a>
        <br>
        <a href="/formpage">Take to a form!</a>

    </body>
</html>