/*  STYLE FOR ALL PAGES  */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightsteelblue;
}

.NavFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NavLinkFlex {
  width: 380px;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.Flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Flex2 {
  display: flex;
  justify-content: space-between;
}

.Flex3 {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
}

.NavLink {
  color: darkslategrey;
}
.NavLink:hover {
  color: blue;
}

.Title {
  margin: 30px 10px;
  width: 100%;
  box-shadow: 0px 15px 10px -10px #111;
  color:blueviolet;
}

.Title2 {
  margin: 30px 10px;
  width: 100%;
  box-shadow: 5px 15px 10px -10px #111;
  color:blueviolet;
  text-align: end;
}

.Button {
  width: 120px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  font-weight: 800;
  background: blue;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(103, 147, 174, 0.8),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  box-shadow: 0px 15px 10px -10px #111;
  outline: none;
}

.Button:hover {
  color: black;
  background-color: aqua;
}

.Button:hover:after  {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow:
  -7px -7px 20px 0px green,
  -4px -4px 5px 0px green,
  7px 7px 20px 0px #0002,
  4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}

.Button:active {
  top: 5px;
}

.Delete {
  background: red;
}

.Delete:hover {
  color: red;
  background-color: White;}

.Center {
  display: flex;
  justify-content: center;
}



/* INDEX PAGE STYLE */
.LeftBox, .RightBox {
  width: 45%;
  border: 3px solid blue;
}

.Result {
  margin: 5px 10px;
}



/* CREATE DISH PAGE STYLE */
/* Form Style */
.Form {
  width: 400px;
  margin:20px auto;
  padding: 15px;
  border: 2px solid blue;
  background-color: lightgray;
  box-shadow: 0px 15px 10px -10px #111;
}

.Input {
  width: 225px;
  background-color: wheat;
  border: 2px solid blue;
}

.Input:focus {
  background-color: lightskyblue;
}




/* EDIT DISH STYLE */





/* VIEW ONE DISH STYLE */
.OneDishContainer {
  width: 800px;
  margin: 20px auto;
  padding: 10px 20px;
  border: 3px solid darkblue;
  background-color: lightgray;
}

.Validation {
  font-weight: 800;
  color: red;
}




