@model Dish
<div class="text-center">
    <h1 class="Title">Test New Dish Page</h1>
</div>

<form class="Form" asp-action="CreateDish" asp-controller="Home">
    <div class="Flex">
        <label asp-for="DishName"></label>
        <input asp-for="DishName" class="Input">
    </div>
    <span class="Validation" asp-validation-for="DishName"></span>

    <div class="Flex">
        <label asp-for="Calories"></label>
        <input asp-for="Calories" min="1" class="Input">
    </div>
    <span class="Validation" asp-validation-for="Calories"></span>

    <div class="Flex">
        <label asp-for="Tastiness"></label>
        <select class="Input text-center" asp-for="Tastiness" value="1">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>

    <div class="Flex">
        <label asp-for="UserId"></label>
        <select class="Input text-center" asp-for="UserId">
                @foreach(var c in  ViewBag.AllUsers)
                    {
                        <option value="@c.UserId">@c.FirstName @c.LastName</option>        
                    }
        </select> 
    </div>

    <div class="ButtonCenter">
        <input class="Button" type="submit" value="Submit!">
    </div>

</form>

