@{
    ViewData["Title"] = "Privacy";
}

<div class="text-center mt-5 pt-5">
    <h5>By opening this page, you wave all privacy rights!!</h5>
    <h6>Oh, and we use cookies too, what are you going to do about it?</h6>
</div>
