<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hello!</title>
            <!-- In this context '~' refers to the wwwroot folder  -->      
    <link rel="stylesheet" href="~/css/style.css"/> 
    </head>
    <body>

        <h1>Welcome to C# from our first cshtml file!!</h1>
    <a href="/contacts">Contacts</a><br>
    <a href="/razorfun">Razor Fun</a><br>
    <a href="/csharp">C# </a><br>
    <a href="/projects">Projects</a><br>
    <h1>@ViewBag.Example</h1>
    <h4>☝️from view bag☝️</h4>

    <H2>My Name: @ViewBag.Name</H2>

    <p>@ViewBag.Example</p>

    <img class="UserImage" src="~/images/Default_User.jpg" alt="default user"/>  
    </body>
</html>