<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Projects!</title>
    </head>
    <body>
        <h1>Projects file!!</h1>
        <a href="/">HOME</a><br>
        <a href="/contacts">Contacts</a><br>
        <a href="/razorfun">Razor Fun</a><br>
        <a href="/csharp">C# </a><br>
        <h3>@ViewBag.Test</h3>
    </body>
</html>