<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hello!</title>
            <!-- In this context '~' refers to the wwwroot folder  -->      
    <link rel="stylesheet" href="~/css/style.css"/> 
    </head>
    <body>

        <div class="Flex">
            <a href="/">Home</a>   &nbsp; | &nbsp;   <a href="/contacts">Contacts</a>   &nbsp;|&nbsp;   <a href="/projects">Projects</a>
        </div>
        <h1>Contact Chris Bridgewater</h1>

        <form class="Form" >
            <div class="Flex2">
                <label for="name">Name: </label>
                <input class="Input" type="text">
            </div>
            <br>
            <div class="Flex2">
                <label for="name">Email:</label>
                <input class="Input" type="email">
            </div>
            <br>
            <div class="Flex2">
            <label for="name">Message:</label>
            <textarea class="Input" name="" id="" cols="30" rows="3"></textarea>
            </div>
            <br>
            <div class="Flex3">
                <input class="Button" type="button" value="Submit">
            </div>
        </form>
    </body>
</html>