<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hello!</title>
            <!-- In this context '~' refers to the wwwroot folder  -->      
    <link rel="stylesheet" href="~/css/style.css"/> 
    </head>
    <body>
        <div class="Flex">
            <a href="/">Home</a>   &nbsp; | &nbsp;   <a href="/contacts">Contacts</a>   &nbsp;|&nbsp;   <a href="/projects">Projects</a>
        </div>
        <h1>About Chris Bridgewater</h1>

        <div class="ProfileContainer">
            <div class="ProfileLeft">
                    <img class="UserImage" src="~/images/It_Me.jpg" alt="Me!"/>  
                    <div class="ProfileUserText">
                    <h3>Chris Bridgewater</h3>
                    <h4>I love to code!</h4>
                    </div>
            </div>
            <div class="ProfileRight">
                    <p>
                    Cupcake ipsum dolor sit amet cookie pastry halvah. Gummies sesame snaps candy canes liquorice candy liquorice powder pie. Jelly beans danish marzipan cake marzipan danish. Macaroon tootsie roll tart jelly-o chocolate cake jelly beans candy canes tiramisu
                    icing. Tart jelly beans muffin dragée. Bonbon chocolate bar danish chocolate pie. Croissant chocolate jelly sugar plum sugar plum candy. Pie topping topping. Jujubes cake cookie pudding tiramisu sesame snaps dragée. Chupa chups biscuit caramels toffee
                    pie caramels gummies. Jujubes donut tart tiramisu jelly-o. Tootsie roll chocolate cake marshmallow gingerbread bonbon. Fruitcake sugar plum macaroon wafer ice cream sweet. Marshmallow caramels tootsie roll topping chupa chups cake bear claw liquorice
                    oat cake.
                    </p>
                    <br>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis deserunt possimus doloremque, quos tenetur maxime commodi aspernatur repellat. Maxime, culpa? Soluta reiciendis illum porro eveniet pariatur eius. Blanditiis, quas libero?
                    </p>
            </div>

        </div>

    </body>
</html>