<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hello!</title>
            <!-- In this context '~' refers to the wwwroot folder  -->      
    <link rel="stylesheet" href="~/css/style.css"/> 
    </head>
    <body>

        <div class="Flex">
            <a href="/">Home</a>   &nbsp; | &nbsp;   <a href="/contacts">Contacts</a>   &nbsp;|&nbsp;   <a href="/projects">Projects</a>
        </div>
        <h1>My Projects</h1>
        <div class="ProjectContainer">
            <div class="ProjectBox">
                <img class="Projimage" src="~/images/Proj_1.png" alt="project 1">
                <div class="ProjectDesc">
                    <h2 class="ProjectTitle">Project 1</h2>
                    <div class="ProjectText">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita itaque porro asperiores eveniet voluptatum dicta ex, nobis at sed quaerat animi voluptas blanditiis odit mollitia in! Architecto labore est officiis?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita itaque porro asperiores eveniet voluptatum dicta ex, nobis at sed quaerat animi voluptas blanditiis odit mollitia in! Architecto labore est officiis?</p>
                    </div>
                </div>
            </div>
            <div class="ProjectBox">
                <img class="Projimage" src="~/images/Proj_2.png" alt="project2">
                <div class="ProjectDesc">
                    <h2 class="ProjectTitle">Project 2</h2>
                    <div class="ProjectText">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita itaque porro asperiores eveniet voluptatum dicta ex, nobis at sed quaerat animi voluptas blanditiis odit mollitia in! Architecto labore est officiis?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam est nemo repellendus possimus magni. Ullam vero voluptate culpa ipsa rem! Soluta, ad quod corrupti facilis impedit fugit perspiciatis fuga quis?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam est nemo repellendus possimus magni. Ullam vero voluptate culpa ipsa rem! Soluta, ad quod corrupti facilis impedit fugit perspiciatis fuga quis?</p>
                    </div>
                </div>
            </div>
            <div class="ProjectBox">
                <img class="Projimage" src="~/images/Proj_3.jpg" alt="project 3">
                <div class="ProjectDesc">
                    <h2 class="ProjectTitle">Project 3</h2>
                    <div class="ProjectText">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita itaque porro asperiores eveniet voluptatum dicta ex, nobis at sed quaerat animi voluptas blanditiis odit mollitia in! Architecto labore est officiis?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam est nemo repellendus possimus magni. Ullam vero voluptate culpa ipsa rem! Soluta, ad quod corrupti facilis impedit fugit perspiciatis fuga quis?</p>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>