* {
    margin:0;
    padding:0;
}

.OuterContainer {
    padding-top: 15%;
    width: 100vw;
    height: 100vh;
    background-image: url(https://thumbs.gfycat.com/ActiveChubbyAlligator-size_restricted.gif);
    /* background-image: url(https://images.trutv.com/tru/w_1360/https%3A%2F%2Fi.cdn.trutv.com%2Fassets%2Ftru%2Fprod%2Fimages%2F2022%2F11%2FElf-1600x900.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 60px;
    text-align: center;
    color:  rgb(11, 211, 11);
}

h2,h3,p {
    color: whitesmoke;
    font-weight: bolder;
}

.xmas {
    color: red;
    
}

.Container{
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.Box_1, .Box_2 {
    width: 250px;
    padding: 15px;
    text-align: center;
    border: 6px double rgb(11, 211, 11);
}

.Box_3 {
    width: 600px;
    margin: 0 auto;
}

.Buddy {
    width: 350px;
    aspect-ratio: 1.555;
    margin:0 auto;  
}

.ToGo {
    text-align: center;
    color: rgb(11, 211, 11);
    font-size: 40px;
}

.ToGoGreen {
    color: red;
}

.ToGo2 {
    margin: 5px 40px 0 0;
    text-align: end;
}