<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hello!</title>
            <!-- In this context '~' refers to the wwwroot folder  -->      
    <link rel="stylesheet" href="~/css/style.css"/> 
    </head>

    <body>

        @{
            DateTime CurrentTime = DateTime.Now;
            DateTime now = DateTime.Now;
            string CurrentDate = now.ToString("MMMM d") + (now.Day == 1 ? "st" : (now.Day == 2 ? "nd" : (now.Day == 3 ? "rd" : "th"))) + now.ToString(", yyyy");
            string TimeNow = DateTime.Now.ToString("h:mm tt");
            DateTime date2 = new DateTime(2023, 12, 25, 7, 0, 0);
            string Xmas = date2.ToString("MMMM d") + (date2.Day == 1 ? "st" : (date2.Day == 2 ? "nd" : (date2.Day == 3 ? "rd" : "th"))) + date2.ToString(", yyyy");
            string XmasMorning = date2.ToString("h:mm tt");
            int result = DateTime.Compare(CurrentTime, date2);

            @* Calculations to form time to date *@
            TimeSpan diffOfDates = date2 - CurrentTime;
            int days = (int) diffOfDates.TotalDays;
            int daysleft = (int) diffOfDates.TotalDays-1;
            int hours = (int) diffOfDates.TotalHours;
            int HoursTotal = hours - days*24;
            string m = diffOfDates.ToString("mm");
        }
        @* Content *@
        <div class="OuterContainer">
            <h1>Countdown to <span class="xmas">Christmas!</span></h1>
            <div class="Container">
                <div class="Box_1">
                    <h2>Today's date</h2>
                    <h3>@CurrentDate</h3>
                    <h3>@TimeNow</h3>
                </div>
                <div class="Box_2">
                    <h2>Christmas Morning</h2>
                    <h3>@Xmas</h3>
                    <h3>@XmasMorning</h3>
                </div>
            </div>
            <div class="Buddy">
                <img src="https://assets.rebelmouse.io/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpbWFnZSI6Imh0dHBzOi8vbWVkaWEucmJsLm1zL2ltYWdlP3U9JTJGZmlsZXMlMkYyMDE2JTJGMTIlMkYxNiUyRjYzNjE3NTI1MjYzMzI1NDMxMC02NjMyMjk5NTJfMzQ4NWo1eWRaSEpOcFNuRW5IelBBSXFEQjY5LmpwZyZobz1odHRwcyUzQSUyRiUyRmF6NjE2NTc4LnZvLm1zZWNuZC5uZXQmcz0xNzImaD1kZGI5NDkwZWU1ZGVmMmEzZGQ0ODBiYjMzNDFiMWQ4MWJjZTg0MTg0YjlkMWZjYzA3OTFkNDM1MmZlMWJlMmM1JnNpemU9OTgweCZjPTExMTAyOTA4OTUiLCJleHBpcmVzX2F0IjoxNzIyNDQ0NDc1fQ.TMEoG-e4l32sHqaxTGRJEkG10RbicMOz9XFaRl65tSU/img.jpg?width=400&height=209" alt="Buddy the elf">
            </div>
            <div class="Box_3">
                <p class="ToGo">@days <span class="ToGoGreen">days</span>, @HoursTotal <span class="ToGoGreen">hour(s)</span>, @m <span class="ToGoGreen">minute(s)</span></p>
                
                <p class="ToGo2">Days to put off shopping - @daysleft <span class="ToGoGreen2">days</span>, @HoursTotal <span class="ToGoGreen2">hour(s)</span>, @m <span class="ToGoGreen2">minute(s)</span></p>
            </div>
        </div>
    </body>
</html>