@{
    ViewData["Title"] = "Home Page";
}
@model UserSurvey

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Fill out the survey below!</p>

    <form class="Form" asp-action="Create" asp-controller="Home">
        <div class="Flex">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="Input">
        </div>
        <span class="Validation" asp-validation-for="Name"></span>
        
        <br>
        
        <div class="Flex">
            <label asp-for="Location"></label>
            <select class="Input DropDown" asp-for="Location">
                    <option value="San Jose">San Jose</option>        
                    <option value="Seattle">Seattle</option>        
                    <option value="Chicago">Chicago</option>        
                    <option value="On-Line">On-Line</option>
            </select>
        </div>
        <span class="Validation" asp-validation-for="Location"></span>
        
        <br>
        
        <div class="Flex">
            <label asp-for="Language"></label>
            <select class="Input DropDown" asp-for="Language">
                    <option value="C#">C#</option>        
                    <option value="Javascript">Javascript</option>        
                    <option value="Java">Java</option>        
                    <option value="Python">Python</option>
                    <option value="Ruby On Rails">Ruby On Rails</option>
            </select>
        </div>
        <span class="Validation" asp-validation-for="Language"></span>
        
        <br>
        
        <div class="Flex">
            <label asp-for="Comments"></label>
            <input asp-for="Comments" class="Input">
        </div>
        <span class="Validation" asp-validation-for="Comments"></span>
        
        <br>

        <input class="Button" type="submit" value="Submit!">

    </form>

</div>