@model User
<form class="Form" asp-action="CreateUser" asp-controller="Home" method="post">    
    <div class="mb-3">        
        <div class="Flex2">
            <label asp-for="Username">User Name</label>        
            <input asp-for="Username" class="Input">        
        </div>
        <span asp-validation-for="Username" class="Validation"></span>    
    </div>    
    <div class="mb-3">        
        <div class="Flex2">
            <label asp-for="Age"></label>        
            <input asp-for="Age" class="Input">        
        </div>
        <span asp-validation-for="Age" class="Validation"></span>    
    </div>
    <div class="Flex">
        <input class="Button" type="submit" value="Add User">
    </div>
</form>
