@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Here is a message</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id repudiandae dolorem iusto aliquid numquam nesciunt nisi illo hic corrupti voluptas mollitia quibusdam qui, dolore fugiat temporibus deleniti placeat sequi ut!Lorem
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, pariatur blanditiis optio dolor ullam obcaecati. Vero hic ab repudiandae, sit fugit ad qui obcaecati quaerat, commodi ex optio deserunt sapiente.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id repudiandae dolorem iusto aliquid numquam nesciunt nisi illo hic corrupti voluptas mollitia quibusdam qui, dolore fugiat temporibus deleniti placeat sequi ut!Lorem
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, pariatur blanditiis optio dolor ullam obcaecati. Vero hic ab repudiandae, sit fugit ad qui obcaecati quaerat, commodi ex optio deserunt sapiente.</p>
</div>
