
<div class="Logout">
    <a class="LogoutButton" asp-area="" asp-controller="Home" asp-action="Logout">Log Out!</a>
</div>
<h1 class="Title">YOU MADE IT</h1>
<h2 class="Title">Welcome to the club!</h2>


